/*input{
	height: 30px;
    width: 200px;
    left: 500px;
	top: 38px;
	position: absolute;
}*/

ul{
	list-style: none;
}

li{
	background-color: white;
    height: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

img{
	width: 150px;
	height: 150px;
	margin: 5px;
}

/*.google_map{

}

.building_pic{

}*/

.container {
	background-color: yellow;
	height: 700px;
	border: 10px solid;
}

.big_font{
	font-size: 30px;
}

#searchContainer{
	height: 100px;
	background-color: green;
	width: 100%;
	/*margin-top: 20px;*/
}

.left_column, .right_column{
	display: inline-block;
}

.left_column{
	background-color: blue;
	width: 400px;
	height: 600px;
	float: left;
	/*overflow: scroll;*/
}

.right_column{
	background-color: gray;
	width: 400px;
	height: 600px;
	float: right;
	/*overflow: scroll;*/
}

.searchBtn{
	background-color: white;
	height: 35px;
    width: 35px;
    left: 720px;
	top: 38px;
	position: absolute;
}

.searchBtn:hover{
	background-color: black;
}

.push_down{
	background-color: black;
}