<p>Option Numbers</p>

<div class='numbersDiv'>

</div>
<div id="optionsDiv">

	<div class='innerOption'>
		<input type='number' class='numberField' id="check_number"></br>
		<button id="genCheck">enter</button>
		<div id='checkDiv'></div>
	</div>

	<div class='innerOption'>
		<input type='number' class='numberField' id="radio_number"></br>
		<button id="genRadio">enter</button>
		<div id='radioDiv'></div>
	</div>

	<div class='innerOption'>
		<input type='number' class='numberField' id="select_number"></br>
		<button id="genSelect">enter</button>
		<div id='checkDiv'></div>
	</div>
</div>